﻿
/*added 212-08-22*/
html,body {
    height:100%;
}


body
{
	background-color:rgb(255,255,255);
	color:#000000;
	font-size:9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-right: 30px;
    margin-top:0px;
    margin-bottom:0px;
/*    margin-bottom:20px;*/
	height:100%;
	overflow:hidden;
}

ul li
{
    margin-top:5px;
    margin-bottom:5px;
}

.DQXSmallText
{
	font-size:8pt;
}

.DQXLarge
{
	font-size:11pt;
    font-weight:bold;
}

.DQXSemiLarge
{
/*	font-size:11pt;*/
    font-weight:bold;
}

.DQXStaticContent
{
	font-size:10pt;
    /*line-height:125%;*/
    max-width:1025px;
    margin-left:auto;
    margin-right:auto;
}

.DQXHighlight
{
    background-color:rgb(255,192,128);
    font-weight:bold;
}

.DQXLogReport {
    font-size:9pt;
    font-family: "Courier New", Courier, monospace;
}

.DQXLogReportHeader {
    font-size:10pt;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;
    padding-top:5px;
    padding-bottom:2px;
}

.DQXLogReportFooter {
    color: rgb(150,150,150);
    font-size:7pt;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding-top:2px;
    padding-bottom:5px;
}

.DQXLogReportLine, .DQXLogReportCommand, .DQXLogReportError {
    padding-left: 1.5em;
    text-indent:-1.5em;
}

.DQXLogReportCommand {
    color: rgb(0,0,180);
}

.DQXLogReportError {
    color: rgb(255,0,0);
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:10pt;
}

.DQXLogReportWarning {
    color: rgb(210,80,0);
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:9pt;
}

.DQXWell
{
    min-height: 15px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid darkgray;
    border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: inset 1px rgba(0,0,0,.15);
    -moz-box-shadow: inset 1px 1px rgba(0,0,0,.15);
    -webkit-box-shadow: inset 1px 1px rgba(0,0,0,.15);
}

.DQXFRight
{
    float:right;
}
.DQXFLeft
{
    float:left;
}
.DQXBlock {
    display: inline-block;
}

.DQXClearfix {
    clear: both;
}

/******************************************************************************************
** DQX Help
******************************************************************************************/

.DQXHelpLink
{
    cursor:pointer;
    color:rgb(0,0,255);
/*    padding:2px;
    margin:2px;
    border-radius: 2px;*/
}

.DQXIntroBoxHelpLink 
{
    float:left;
    z-index:5;
    margin-right:4px;
    margin-bottom:8px;
    position:relative;
    left:-8px;
    
/*    font-weight:bold;
    padding-left:4px;
    padding-right:4px;*/
    
/*    background-color:rgb(190,190,190);
    color:rgb(0,128,0);*/
    /*position:absolute;
    right:2px;
    bottom:-14px;
    z-index:5;*/
    /*padding:2px;*/
/*    padding-left:4px;
    padding-right:4px;
    border-radius: 4px;
    font-weight:bold;
    border: 1px solid rgb(70,70,70)*/
}



.DQXHelp
{
}



.DQXStyledTable  
{
    border-width: 0px;
    border-style: solid;
    border-collapse:collapse;
    border-color: rgb(60,60,60);
}

.DQXStyledTable th
{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(140,140,140);
    
background: rgb(220,220,220);
background: -moz-linear-gradient(left, rgb(220,220,220) 0%, rgb(180,180,180) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(220,220,220)), color-stop(100%,rgb(180,180,180)));
background: -webkit-linear-gradient(left, rgb(220,220,220) 0%,rgb(180,180,180) 100%);
background: -o-linear-gradient(left, rgb(220,220,220) 0%,rgb(180,180,180) 100%);
background: -ms-linear-gradient(left, rgb(220,220,220) 0%,rgb(180,180,180) 100%);
background: linear-gradient(to right, rgb(220,220,220) 0%,rgb(180,180,180) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3c3c3', endColorstr='#a5a5a5',GradientType=1 );
    
    color:rgb(0,0,0);
    
    text-align: left; 
    font-size:9pt;
    font-weight:bold;
    white-space:nowrap;
    padding: 4px;
    height:23px;
}

.DQXStyledTable td    
{ 
    border-width: 1px; 
    border-style: dotted;
    border-color: rgb(190,190,190);
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 0px;
    color:rgb(0,0,0);
    font-size:9pt;
    white-space:nowrap;
    text-align:left;
    height:19px;
}



/******************************************************************************************
** DQX Query tables
******************************************************************************************/


.DQXQueryTable  
{
    border-width: 0px;
    border-style: solid;
    border-collapse:collapse;
    border-color: rgb(60,60,60);
 /*   width:100%;*/
}

.DQXQueryTable th
{
    background-color:rgb(100,100,100);
    
background: rgb(220,220,220);
background: -moz-linear-gradient(left, rgb(220,220,220) 0%, rgb(180,180,180) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(220,220,220)), color-stop(100%,rgb(180,180,180)));
background: -webkit-linear-gradient(left, rgb(220,220,220) 0%,rgb(180,180,180) 100%);
background: -o-linear-gradient(left, rgb(220,220,220) 0%,rgb(180,180,180) 100%);
background: -ms-linear-gradient(left, rgb(220,220,220) 0%,rgb(180,180,180) 100%);
background: linear-gradient(to right, rgb(220,220,220) 0%,rgb(180,180,180) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3c3c3', endColorstr='#a5a5a5',GradientType=1 );
    
    border-width: 1px;
    border-style: solid;
    border-color: rgb(140,140,140);
    
    color:rgb(0,0,0);
    text-align: left; 
    height:28px;
    font-size:8pt;
    font-weight:normal;
/*    width: 180px !important; */
    white-space:nowrap;
    padding: 4px;


}

.DQXQueryTable td, .DQXQueryTableInvalid td 
{ 
    height:19px;
}

.DQXQueryTable td    
{ 
    border-width: 1px; 
    border-style: dotted;
    border-color: rgb(190,190,190);
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 0px;
    color:rgb(0,0,0);
    font-size:8pt;
    white-space:nowrap;
    text-align:left;
}

.DQXQueryTableInvalid td 
{
    background-image:url(Bitmaps/diagpattern.jpg) !important;
    background-repeat:repeat;
}

.DQXQueryTableLinkCell, .DQXQueryTableLinkHeader, .DQXQueryTableSortHeader
{
    color: rgb(100,100,200) !important;
	cursor:pointer;
}

.DQXQueryTableHeaderText
{
	cursor:pointer;
}


.DQXQueryTableLinkCell 
{
    padding:0px;
    border:0px;
    margin:0px;
}

.DQXTableRowHover td {
    /*color: rgb(255,0,0) !important;*/
/*    border-top: rgb(170,170,255) solid 1px !important;
    border-bottom: rgb(170,170,255) solid 1px !important;*/
    outline: rgb(120,120,120) solid 1px !important;
}

.DQXTableRowSelected td 
{
    color: rgb(0,0,192) !important;
    border-top: rgb(80,80,255) solid 1px !important;
    border-bottom: rgb(80,80,255) solid 1px !important;
    /*font-weight:bolder;*/
    text-shadow: 0.75px 0.75px 1.5px rgba(80,80,80,0.5) !important;
}



.DQXVSpacer
{
    clear:both;
}


/******************************************************************************************
** DQX Float boxes
******************************************************************************************/


.DQXDragHeader
{ 
    cursor:move; 
}

.DQXFloatBox
{ 
    border-width:8px;
    border-style:solid;
    border-color:rgb(0,0,120);
    position:absolute; 
    left:850px; 
    top:100px; 
    box-shadow: 4px 4px 20px 3px rgba(0,0,0,0.95); 
 	z-index:999;
}
.DQXFloatBoxHeader
{ 
    background-color:rgb(20,20,120); 
    padding:8px;
    padding-left:12px;
    cursor:move; 
    font-size:10pt;
    font-weight:bold;
    color:rgb(255,230,200);
    background-image:url(Bitmaps/barback_blue.png);
    height:19px;
}

.DQXFloatBoxContent
{ 
    background-color:rgb(240,240,250); 
background: rgb(239,246,252); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(239,246,252,1) 0%, rgba(192,213,234,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(239,246,252,1)), color-stop(100%,rgba(192,213,234,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(239,246,252,1) 0%,rgba(192,213,234,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(239,246,252,1) 0%,rgba(192,213,234,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(239,246,252,1) 0%,rgba(192,213,234,1) 100%); /* IE10+ */
background: linear-gradient(135deg, rgba(239,246,252,1) 0%,rgba(192,213,234,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff6fc', endColorstr='#c0d5ea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding:5px; 
    cursor:text; 
}



/******************************************************************************************
** DQX PopupFrames
******************************************************************************************/



.DQXPopupFrame
{ 
    border-width:4px;
    border-style:solid;
    border-color:rgb(60,60,60);
    position:absolute; 
    left:850px; 
    top:100px; 
    box-shadow: 4px 4px 20px 3px rgba(0,0,0,0.95); 
 	z-index:999;
}
.DQXPopupFrameHeader
{ 
    background-color:rgb(20,20,120); 
    padding:7px;
    padding-left:12px;
    cursor:move; 
    font-size:10pt;
    font-weight:bold;
    color:rgb(255,230,200);
    background-image:url(Bitmaps/barback1a.png);
    height:16px;
}

.DQXPopupFrameContent
{
    overflow:hidden;
}

.DQXPopupFrameResizer1, .DQXPopupFrameResizer2
{    
    background-color:rgb(140,140,230);
    cursor:nw-resize;
    position:absolute;
}

.DQXPopupFrameResizer1
{
    right:-8px;
    bottom:-8px;
    width:24px;
    height:4px;
    /*border-top:1px solid black;*/
    /*border-left:1px solid black;*/
    border-bottom:1px solid black;
    border-right:1px solid black;
}


.DQXPopupFrameResizer2
{
    right:-8px;
    bottom:-8px;
    width:4px;
    height:24px;
    /*border-top:1px solid black;*/
    border-right:1px solid black;
    border-bottom:1px solid black;
}


/******************************************************************************************
** DQX Light frame styling elements
******************************************************************************************/


/*Used for separators*/
.DQXLightFrame
{
    background-color:rgb(160,160,160);
    color:rgb(0,0,0);
}

.DQXTabBodyStyled, .DQXTabActive
{
    background-color:rgb(190,190,190);
    color:rgb(0,0,0);
}






/******************************************************************************************
** DQX Dark frame styling elements
******************************************************************************************/

.DQXButtonBar
{
background: rgb(250,250,250);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgb(250,250,250) 0%, rgb(230,230,230) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(250,250,250)), color-stop(100%,rgb(230,230,230)));
background: -webkit-linear-gradient(top, rgb(250,250,250) 0%,rgb(230,230,230) 100%);
background: -o-linear-gradient(top, rgb(250,250,250) 0%,rgb(230,230,230) 100%);
background: -ms-linear-gradient(top, rgb(250,250,250) 0%,rgb(230,230,230) 100%);
background: linear-gradient(to bottom, rgb(250,250,250) 0%,rgb(230,230,230) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e6e6e6',GradientType=0 );
    color:rgb(0,0,0);
}

.DQXButtonBarDarker
{
background: rgb(240,240,240);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgb(240,240,240) 0%, rgb(220,220,220) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(240,240,240)), color-stop(100%,rgb(220,220,220)));
background: -webkit-linear-gradient(top, rgb(240,240,240) 0%,rgb(220,220,220) 100%);
background: -o-linear-gradient(top, rgb(240,240,240) 0%,rgb(220,220,220) 100%);
background: -ms-linear-gradient(top, rgb(240,240,240) 0%,rgb(220,220,220) 100%);
background: linear-gradient(to bottom, rgb(240,240,240) 0%,rgb(220,220,220) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e6e6e6',GradientType=0 );
    color:rgb(0,0,0);
}


.DQXDarkFrame, .DQXLight2
{
    background-color:rgb(235,235,235);
    color:rgb(0,0,0);
}

/*.DQXDarkFrame .DQXLarge
{
    color:rgb(255,255,210);
}*/

.DQXSelectWrapper
{
    border:1px solid rgb(128,128,128);
}


.DQXDarkInfo
{
    background-color:rgb(60,60,60);
    color:rgb(200,200,240);
}


.DQXDarkFrameHighlight
{
    color:rgb(240,240,190);
}

.DQXDarkFrame select, .DQXDarkFrame input[type="text"]
{
    /*background-color:rgb(210,210,210);*/
    border-width:0px;
}

.DQXDarkFrame input[type="text"]
{
    border-width:1px;
    border-style:solid;
    border-color:rgb(0,0,0);
}




/******************************************************************************************
** DQX Query builder styling elements
******************************************************************************************/


.DQXQBQuerybox
{
    border-radius: 5px;
    background-color:rgb(140,170,190) !important;/*Fallback mechanism form IE8*/
    background-color:rgba(140,170,190,0.8) !important;
    color:rgb(255,255,255) !important;
    font-weight:bold !important;
}

.DQXQBQueryboxControl
{
    border: 1px solid !important; 
    border-color: rgb(100,100,150) !important; 
    background-color: rgb(220,240,245) !important; 
    box-shadow: 1px 1px 3px rgba(0,0,0,0.35) !important; 
    margin-bottom:3px;
}

.DQXQBQueryboxControl:hover
{
    background-color: rgb(220,255,255) !important;
    border-color: rgb(120,160,255) !important;
    box-shadow: 0px 0px 10px rgba(0,128,255,0.75) !important;
}


/******************************************************************************************
** DQX Bitmap links
******************************************************************************************/


.DQXBitmapLink
{
	cursor:pointer;
    outline: 0;
}

.DQXBitmapLinkTransparent
{
    opacity:0.70;
    filter:alpha(opacity=70); /* For IE8 and earlier */
}

.DQXBitmapLink:hover, .DQXBitmapLinkTransparent:hover
{
    opacity:1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
    /*outline: 2px dotted;
    outline-color: rgba(255,150,100,0.7);*/
}



/******************************************************************************************
** DQX Tabbed environment styling elements
******************************************************************************************/

.DQXTabs 
{
    white-space: nowrap;
    overflow: hidden;
}

.DQXTabSet
{
}

.DQXTab {
	/*font-size:10pt;*/
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	margin-right:3px;
	padding-left:10px;
	padding-right:10px;
	padding-top:3px;
	padding-bottom:7px;
	/*float:left;*/
	border:1px solid rgb(80,80,80);
	border-bottom-width: 0px;
	cursor:pointer;
	z-index:2;
	display:inline-block;
}

.DQXTabInactive:hover {
	border-color:rgb(255,128,0);
}


.DQXTabInactive {
	background-color:rgb(220,220,220);
	border-color:rgb(210,210,210);
	color:rgb(80,80,80);
	font-weight:bold;
}

.DQXTabActive {
    position: relative;
	top: 1px;	
	font-weight:bold;
	/*color:rgb(0,0,0);*/
}

.DQXTabInactive img
{
    opacity:0.5;
}


.DQXTabContent 
{
}

.DQXTabBodyStyled, .DQXLightFrame
{
    clear:both;
	z-index:1;
	padding-bottom:10px;
	padding-top:10px;
	padding-left:5px;
	padding-right:5px;
}


/******************************************************************************************
** DQX Misc controls
******************************************************************************************/

.DQXImportantMessage
{
    background-color:rgb(255,192,0);
    padding:2px;
    font-weight:bold;
    border:1px solid black;
}

a:link, a:visited
{
	text-decoration:none;
}

.DQXHyperlink
{
	color:rgb(0,0,192);
	cursor:pointer;
	text-decoration:none;
}

.DQXLargeFlag
{
    padding-right: 5px;
    height: 16px;
}
.DQXSmallFlag
{
    padding-right: 5px;
}

.DQXColourBox
{
    width: 12px;
    height: 12px;
    display: inline-block;
    background-color: #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /*position: absolute;*/
    /*left: 5px;*/
    /*top: 5px;*/
}

.DQXGlowButton
{
	padding:3px;
	border:2px solid rgb(255,255,200);
	background-color:rgb(230,230,210);
	font-weight:bold;
	color:rgb(0,0,0);
	cursor:pointer;
	border-style: outset;
    box-shadow: 0px 0px 12px rgba(255,128,0,0.75);
    border-radius:4px;
}

.DQXGlowButton:hover
{
	background-color:rgb(255,255,150);
    box-shadow: 0px 0px 16px rgba(255,128,0,1);
    /*-ms-transform:scale(1.1);
    transform:scale(1.1);
    -moz-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -o-transform:scale(1.1);*/
}

.DQXShadow {
    box-shadow: 4px 4px 8px rgb(80,80,80);
    -moz-box-shadow: 4px 4px 8px rgb(80,80,80);
    -webkit-box-shadow: 4px 4px 8px rgb(80,80,80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.DQXMenu
{
    border-width: 2px;
    border-style: solid;
    border-color: #000000;
    background-color: rgb(240,240,210);
}   


.DQXMenuItem 
{
	padding:3px;
}

.DQXMenuItem:hover
{
    background-color: rgb(255,150,150) !important;
}   

/* SVG elements */

.piepart 
{
    stroke:black; 
    stroke-width:1;
    fill-opacity: 1.0;
}

.pieshadow
{
    fill:black; 
    fill-opacity: 0.5;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
}


.DQXPage
{
    background-color: white;
}


.DQXLight
{
    background-color: rgb(170,170,170) !important;
    border-width:0px;
    color:Black;
}


.DQXClient
{
    color:Black;
    background-color: rgb(255,255,255);
    border-width:0px;
}

.DQXGrayClient
{
    color:Black;
    background-color: rgb(210,210,210);
    border-width:0px;
}

.DQXClientInfo
{
    color:rgb(0,0,192);
    background-color: rgb(200,200,200);
    border-width:0px;
}

/*Text intro boxes in top left of each panel*/
.DQXIntroInfo
{
	font-size:10pt;
    color:rgb(0,0,0);
    background-color: rgb(240,240,240);
    border-width:0px;
    /*border-radius-bottom-right: 7px;*/

background: rgb(250,250,250);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmFmYWZhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(-45deg, rgb(250,250,250) 0%, rgb(230,230,230) 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgb(250,250,250)), color-stop(100%,rgb(230,230,230)));
background: -webkit-linear-gradient(-45deg, rgb(250,250,250) 0%,rgb(230,230,230) 100%);
background: -o-linear-gradient(-45deg, rgb(250,250,250) 0%,rgb(230,230,230) 100%);
background: -ms-linear-gradient(-45deg, rgb(250,250,250) 0%,rgb(230,230,230) 100%);
background: linear-gradient(135deg, rgb(250,250,250) 0%,rgb(230,230,230) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e6e6e6',GradientType=1 );

}


.DQXForm
{
    background-color:rgb(245,245,245);
    color:rgb(0,0,0);
}


.DQXLargeList 
{
    background-color:rgb(245,245,245);
}


.DQXLargeListItem
{
    color:Black;
    padding:4px;
    padding-bottom:8px;
background: rgb(255,255,255);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWUxZTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(230,230,230) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(230,230,230)));
background: -webkit-linear-gradient(top, rgb(255,255,255) 0%,rgb(230,230,230) 100%);
background: -o-linear-gradient(top, rgb(255,255,255) 0%,rgb(230,230,230) 100%);
background: -ms-linear-gradient(top, rgb(255,255,255) 0%,rgb(230,230,230) 100%);
background: linear-gradient(to bottom, rgb(255,255,255) 0%,rgb(230,230,230) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e1e1e1',GradientType=0 );
	/*font-size:8pt;*/

    cursor:pointer;

}


.DQXLargeListItemSelected
{
    color:Black;
    padding:4px;
    padding-bottom:8px;
background: rgb(196,208,252); /* Old browsers */
background: -moz-linear-gradient(top, rgba(200,215,255,1) 0%, rgba(164,181,234,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(200,215,255,1)), color-stop(100%,rgba(164,181,234,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(200,215,255,1) 0%,rgba(164,181,234,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(200,215,255,1) 0%,rgba(164,181,234,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(200,215,255,1) 0%,rgba(164,181,234,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(200,215,255,1) 0%,rgba(164,181,234,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4d0fc', endColorstr='#a4b5ea',GradientType=0 ); /* IE6-9 */

	/*font-size:8pt;*/
    cursor:pointer;

}



.DQXLargeListItem:hover
{
    color:rgb(0,0,180);
background: rgb(247,247,247); /* Old browsers */
background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(214,214,214,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(214,214,214,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(214,214,214,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(214,214,214,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(214,214,214,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(214,214,214,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */    
}



.DQXTree
{
    background-color:rgb(245,245,245);
}

.DQXTreeItem, .DQXTreeItemNoSelect
{
    color:Black;
    padding:1px;
    /*padding-bottom:8px;*/
	font-size:9pt;
}

.DQXTreeItem2
{
    background-color:rgb(250,250,250) !important;
    border: 1px solid rgb(190,190,190);
    color:Black;
    padding:4px;
	font-size:10pt !important;
}


.DQXTreeItemSelected
{
    background: rgb(196,208,252); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(196,208,252,1) 0%, rgba(164,181,234,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(196,208,252,1)), color-stop(100%,rgba(164,181,234,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(196,208,252,1) 0%,rgba(164,181,234,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(196,208,252,1) 0%,rgba(164,181,234,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(196,208,252,1) 0%,rgba(164,181,234,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(196,208,252,1) 0%,rgba(164,181,234,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4d0fc', endColorstr='#a4b5ea',GradientType=0 ); /* IE6-9 */
    outline-color: black;
    outline-width:1px;
	outline-style: dotted;
 }


.DQXTreeItem
{
    cursor:pointer;
}

.DQXTreeItem:hover
{
    color:rgb(0,0,180);
    outline-color: black;
    outline-width:1px;
	outline-style: dotted;
    /*background: rgb(247,247,247);*/
}

.DQXTreeButton
{
    cursor:pointer;
}

.DQXTreeButtonImage:hover
{
    -ms-transform:scale(1.1);
    transform:scale(1.1);
    -moz-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -o-transform:scale(1.1);
}



.DQXTitleBar, .DQXTitleBarRounded
{
    padding-left:7px;
    padding-right:7px;
    font-weight:bold;
}

.DQXTitleBar
{
   color:rgb(0,0,135);
   font-size:18px;
   font-variant:small-caps;
    line-height:28px;
    background: rgb(80,80,80);
	background-image:url(Bitmaps/TitleBarBack.png);
	background-repeat:repeat-x;
 }

.DQXTitleBarRounded
{
   color:rgb(0,0,0);
	border-top-left-radius:8px;
	border-top-right-radius:8px;
    line-height:22px;
    background: rgb(215,215,215);
	background-image:url(Bitmaps/TitleSubBarBack.png);
	background-repeat:repeat-x;
	background-position:bottom;
}

.DQXTitleBarRightInfo
{
    padding-left:7px;
    font-weight:normal;
    font-size:14px;
    font-variant:normal;
}


.DQXFormControl
{
    border:1px solid rgb(128,128,128);
}


.DQXFormComment 
{
    color:rgb(40,40,40);
    font-style:italic;
}

.DQXFormFieldSet  
{
    border:1px solid rgb(128,128,128);
    box-shadow: 2px 2px 6px rgba(0,0,0,0.35);
    background-color:rgb(250,250,250);
    padding:10px;
    margin-right:6px;
    margin-top:10px;
    margin-bottom:5px;
}

.DQXFormFieldSetSimple
{
    border:1px solid rgb(170,170,170);
    padding:10px;
    margin-right:6px;
    margin-top:10px;
    margin-bottom:5px;
}


.DQXFormFieldSet legend {
/*    background-color:rgb(250,250,250);*/
  }
  
  .DQXChannelToolTip 
  {
      opacity:0.9;
      padding:4px;
      /*border:1px solid black;*/
    background: #fcef79; /* Old browsers */
    background: -moz-linear-gradient(top, #fcef79 1%, #e87f35 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fcef79), color-stop(100%,#e87f35)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fcef79 1%,#e87f35 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fcef79 1%,#e87f35 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fcef79 1%,#e87f35 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fcef79 1%,#e87f35 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcef79', endColorstr='#e87f35',GradientType=0 ); /* IE6-9 */
    box-shadow: 1px 1px 7px rgba(0,0,0,0.65);
}

.DQXChannelToolTipHighlightPoint
{
    padding:0px;
    margin:0px;
     border:1px solid rgb(255,128,0);
     width:7px;
     height:7px;
     pointer-events:none;
 }


.DQXToolButton0, .DQXToolButton1, .DQXToolButton2, .DQXToolButton3
{
    margin:5px;
    margin-bottom:10px;
    margin-right:10px;
    cursor:pointer;
    border-left:1px solid rgb(150,150,150);
    border-top:1px solid rgb(150,150,150);
    border-right:1px solid rgb(120,120,120);
    border-bottom:1px solid rgb(120,120,120);
    box-shadow: 2px 2px 6px rgba(0,0,0,0.35); 
    padding-top:5px;
    padding-bottom:6px;
    padding-left:6px;
    padding-right:6px;
    border-radius: 4px;
	/*border-style: outset;*/
}

.DQXToolButton0:hover, .DQXToolButton1:hover, .DQXToolButton2:hover, .DQXToolButton3:hover
{
    /*border:2px solid rgb(0,0,0);*/
    box-shadow: 2px 2px 11px rgba(0,0,0,0.85); 
}


.DQXToolButton0
{
    background: #f7f7f7; /* Old browsers */
    background: -moz-linear-gradient(top, #f7f7f7 0%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f7f7f7 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f7f7f7 0%,#dddddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f7f7f7 0%,#dddddd 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f7f7f7 0%,#dddddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}
  
.DQXToolButton1
  {
background: rgb(255,250,240);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmFmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOWRjYjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(255,250,240,1) 0%, rgba(249,220,177,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,250,240,1)), color-stop(100%,rgba(249,220,177,1)));
background: -webkit-linear-gradient(top, rgba(255,250,240,1) 0%,rgba(249,220,177,1) 100%);
background: -o-linear-gradient(top, rgba(255,250,240,1) 0%,rgba(249,220,177,1) 100%);
background: -ms-linear-gradient(top, rgba(255,250,240,1) 0%,rgba(249,220,177,1) 100%);
background: linear-gradient(to bottom, rgba(255,250,240,1) 0%,rgba(249,220,177,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffaf0', endColorstr='#f9dcb1',GradientType=0 );
}

.DQXToolButton2
  {
    background: rgb(223,242,253);
    background: -moz-linear-gradient(top, rgba(223,242,253,1) 0%, rgba(164,192,221,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(223,242,253,1)), color-stop(100%,rgba(164,192,221,1)));
    background: -webkit-linear-gradient(top, rgba(223,242,253,1) 0%,rgba(164,192,221,1) 100%);
    background: -o-linear-gradient(top, rgba(223,242,253,1) 0%,rgba(164,192,221,1) 100%);
    background: -ms-linear-gradient(top, rgba(223,242,253,1) 0%,rgba(164,192,221,1) 100%);
    background: linear-gradient(to bottom, rgba(223,242,253,1) 0%,rgba(164,192,221,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4e7fc', endColorstr='#8db4d3',GradientType=0 );
}

.DQXToolButton3
  {
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(188,204,221,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(188,204,221,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(188,204,221,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(188,204,221,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(188,204,221,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(188,204,221,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bcccdd',GradientType=0 ); /* IE6-9 */
}


/************   help documentation box ************************************/

  .DQXDocuBox 
  {
    background-color:rgb(230,230,230);
    border:4px solid black;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.70); 
    border-radius: 4px;
}

  .DQXDocuBoxHeader
  {
    background-color:rgb(90,90,90);
    height:22px;
    padding:6px;
    color:rgb(255,220,0);
	font-size:11pt;
	font-weight:bold;
	background-image:url(Bitmaps/barback1a.png);
}

.DQXDocuBoxBody
  {
	font-size:10pt;
    overflow:auto;
    -webkit-overflow-scrolling:touch;
    padding:12px;
    background-color:rgb(250,250,250);
background: rgb(249,249,249) !important;
background: -moz-linear-gradient(-45deg, rgba(249,249,249,1) 0%, rgba(234,234,234,1) 100%) !important;
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(100%,rgba(234,234,234,1))) !important;
background: -webkit-linear-gradient(-45deg, rgba(249,249,249,1) 0%,rgba(234,234,234,1) 100%) !important;
background: -o-linear-gradient(-45deg, rgba(249,249,249,1) 0%,rgba(234,234,234,1) 100%) !important;
background: -ms-linear-gradient(-45deg, rgba(249,249,249,1) 0%,rgba(234,234,234,1) 100%) !important;
background: linear-gradient(135deg, rgba(249,249,249,1) 0%,rgba(234,234,234,1) 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#eaeaea',GradientType=1 ) !important;
    line-height:120%;
}

.DQXDocuBoxFooter
  {
    background-color:rgb(210,210,210);
    border-bottom:1px solid rgb(128,128,128);
    width:100%;
    height:44px;
}

.DQXDocuButton
  {
    border-radius: 4px;
    border:1px solid rgb(128,128,128);
	display:inline-block;
	margin:5px;
	padding:8px;
	height:14px;
    box-shadow: 1.5px 1.5px 4px rgba(0,0,0,0.30); 
    cursor:pointer;
    font-weight:bold;

background: #f7f7f7; /* Old browsers */
background: -moz-linear-gradient(top, #f7f7f7 0%, #dddddd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f7f7f7 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f7f7f7 0%,#dddddd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f7f7f7 0%,#dddddd 100%); /* IE10+ */
background: linear-gradient(to bottom, #f7f7f7 0%,#dddddd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}


/************   wizards ************************************/

  .DQXWizardBox 
  {
    background-color:rgb(230,230,230);
    border:4px solid black;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.70);
    border-radius: 4px;
}

  .DQXWizardBoxHeader
  {
    background-color:rgb(90,90,90);
    height:22px;
    padding:6px;
    color:rgb(255,220,0);
	font-size:11pt;
	font-weight:bold;
	background-image:url(Bitmaps/barback1a.png);
}

.DQXWizardBoxBody
  {
    /*background-color:rgb(230,210,210);*/
    overflow-y:auto;
    padding:12px;
    /*height:100%;
    padding-top:-5px;
    padding-bottom:25px;
    margin-top:-25px;
    margin-bottom:-150px;
    //padding-bottom:-150px;*/
}

.DQXWizardBoxFooter
  {
    background-color:rgb(210,210,210);
    border-top:1px solid rgb(128,128,128);
    width:100%;
    height:55px;
    position:absolute;
    bottom:0px;
    right:0px;
/*    padding:5px;*/
}

.DQXWizardButton
  {
    border-radius: 4px;
    /*background-color:rgb(250,250,250);*/
    border:1px solid rgb(128,128,128);
	display:inline-block;
	margin-top:10px;
	margin-right:10px;
	padding:8px;
	height:17px;
    box-shadow: 1.5px 1.5px 4px rgba(0,0,0,0.30); 
    cursor:pointer;
    font-weight:bold;

background: #f7f7f7; /* Old browsers */
background: -moz-linear-gradient(top, #f7f7f7 0%, #dddddd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f7f7f7 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f7f7f7 0%,#dddddd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f7f7f7 0%,#dddddd 100%); /* IE10+ */
background: linear-gradient(to bottom, #f7f7f7 0%,#dddddd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

.DQXWizardButton:hover
{
    /*background-color:rgb(255,255,240);*/
    border:1px solid rgb(0,0,0);
    box-shadow: 1.5px 1.5px 6px rgba(0,0,0,0.50); 
background: #f3f9ac; /* Old browsers */
background: -moz-linear-gradient(top, #f3f9ac 0%, #ffe36b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f9ac), color-stop(100%,#ffe36b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f3f9ac 0%,#ffe36b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f3f9ac 0%,#ffe36b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f3f9ac 0%,#ffe36b 100%); /* IE10+ */
background: linear-gradient(to bottom, #f3f9ac 0%,#ffe36b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f9ac', endColorstr='#ffe36b',GradientType=0 ); /* IE6-9 */
}





.DQXSimpleButton
{
    border-radius: 4px;
    /*background-color:rgb(250,250,250);*/
    border:1px solid rgb(128,128,128);
    display:inline-block;
    vertical-align:middle;
    padding:8px;
    /*height:17px;*/
    box-shadow: 1.5px 1.5px 4px rgba(0,0,0,0.30);
    cursor:pointer;
    font-weight:bold;

    background: #f7f7f7; /* Old browsers */
    background: -moz-linear-gradient(top, #f7f7f7 0%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f7f7f7 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f7f7f7 0%,#dddddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f7f7f7 0%,#dddddd 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f7f7f7 0%,#dddddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

.DQXSimpleButton:hover
{
    /*background-color:rgb(255,255,240);*/
    border:1px solid rgb(0,0,0);
    box-shadow: 1.5px 1.5px 6px rgba(0,0,0,0.50);
    background: #f3f9ac; /* Old browsers */
    background: -moz-linear-gradient(top, #f3f9ac 0%, #ffe36b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f9ac), color-stop(100%,#ffe36b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f3f9ac 0%,#ffe36b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f3f9ac 0%,#ffe36b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f3f9ac 0%,#ffe36b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f3f9ac 0%,#ffe36b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f9ac', endColorstr='#ffe36b',GradientType=0 ); /* IE6-9 */
}



.DQXBitmapButton 
{
    margin:0px;
    margin-left:3px;
    margin-right:3px;
/*    background: none;*/
}

.DQXBitmapButton:hover, .DQXBitmapButtonHighlight
{
    /*outline: 2px dotted;
    outline-color: rgba(255,150,100,0.7);*/
background: rgb(255,220,80) !important;
background: -moz-linear-gradient(top, rgb(255,220,80) 0%, rgb(255,150,0) 100%) !important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,220,80)), color-stop(100%,rgb(255,150,0))) !important;
background: -webkit-linear-gradient(top, rgb(255,220,80) 0%,rgb(255,150,0) 100%) !important;
background: -o-linear-gradient(top, rgb(255,220,80) 0%,rgb(255,150,0) 100%) !important;
background: -ms-linear-gradient(top, rgb(255,220,80) 0%,rgb(255,150,0) 100%) !important;
background: linear-gradient(to bottom, rgb(255,220,80) 0%,rgb(255,150,0) 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdc50', endColorstr='#ff9600',GradientType=0 ) !important;
}

.DQXHelpLink:hover, .DQXIntroBoxHelpLink:hover, a:hover, .DQXHyperlink:hover
{
   background-color:rgba(255,200,0,0.5) !important;
/*    outline: 1px dotted;
    outline-color: rgb(255,170,0);*/
}




/* Necessary to get touch events for IE10*/
canvas, .DQXDragHeader
{
    -ms-touch-action:none;
}